In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
import matplotlib.pyplot as plt

In [2]:
train_data = pd.read_csv('./train.csv')
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
features = train_data.drop(columns=['Survived', 'Name', 'Ticket', 'Fare'], axis=1)

In [4]:
# len([x for x in pd.isna(features['Cabin']) if x is True])
features.drop(columns=['Cabin'], axis=1,inplace=True)#drop cabin column -- to many NaN

In [5]:
null_age_index = [x for x in features['Age'].isna()]
features['Age'].fillna(value=features['Age'].describe()['mean'], inplace=True)

In [6]:
[x for x in features['Embarked'].isna() if x is True]

[True, True]

In [7]:
features[features['Embarked'].isna()]

     PassengerId  Pclass     Sex   Age  SibSp  Parch Embarked
61            62       1  female  38.0      0      0      NaN
829          830       1  female  62.0      0      0      NaN

In [8]:
features['Embarked'].unique()
features.Embarked.describe()

count     889
unique      3
top         S
freq      644
Name: Embarked, dtype: object

In [9]:
#replace nans in features.Embarked with s since its the most frequent occuring value
features.Embarked.fillna(value='S', inplace=True)

In [10]:
features.dtypes
#convert Sex and Embarkment to cotegorical vlaue
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
gender_encoder = LabelEncoder()
embarked_encoder = LabelEncoder()
features.Sex = gender_encoder.fit_transform(features.Sex)
features.Embarked = embarked_encoder.fit_transform(features.Embarked)

In [11]:
#hot_encoder = OneHotEncoder()
#features.Embarked = hot_encoder.fit_transform(features.Embarked.values.reshape(-1,1)).toarray()

In [29]:
hot_encoder = OneHotEncoder()
hot_pclass = hot_encoder.fit_transform(features.Pclass.values.reshape(-1,1))
hot_embarkment = hot_encoder.fit_transform(features.Embarked.values.reshape(-1,1))
hot_parch = hot_encoder.fit_transform(features.Parch.values.reshape(-1,1))

/home/shashi/libs/anaconda3/envs/tensorflow/lib/python3.5/site-packages/sklearn/preprocessing/_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/home/shashi/libs/anaconda3/envs/tensorflow/lib/python3.5/site-packages/sklearn/preprocessing/_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/home/shashi/libs/anaconda3/envs/tensorflow/lib/python3.5/site-packages/sklearn/preprocessing/_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [23]:
features.Age = features.Age.astype(np.int32)
features.drop(columns=['PassengerId'], axis=1, inplace=True)

In [34]:
# features.drop(columns=['Pclass', 'Embarked']).values
filtered_features = features.drop(columns=['Pclass', 'Embarked', 'Parch'])

array([[ 1, 22,  1],
       [ 0, 38,  1],
       [ 0, 26,  0],
       ...,
       [ 0, 29,  1],
       [ 1, 26,  0],
       [ 1, 32,  0]])